@font-face {
  font-family: "Light";
  src: url(./fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "Regular";
  src: url(./fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Medium";
  src: url(./fonts/OpenSans-Medium.ttf);
}
@font-face {
  font-family: "Semi-Bold";
  src: url(./fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "Bold";
  src: url(./fonts/OpenSans-Bold.ttf);
}

input {
  -webkit-overflow-scrolling: touch;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.checkout {
  position: relative;
  height: 100%;
}

.bread {
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

ul.breadcrumb {
  padding: 15px 50px;
  list-style: none;
  background: white;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #d1d1d1;
  content: "/\00a0";
}

ul.breadcrumb li a {
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  text-decoration: underline;
}

#homepage {
  color: #a9a9a9;
}

.checkoutMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 26px 45px;
}

.checkoutLeft {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkoutRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40%;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  margin-left: 32px;
  border-radius: 6px;
  padding: 32px 16px;
}

.orderHeading h2 {
  font-family: "Bold";
}

.orderHeading p {
  color: #a9a9a9;
}

.billingInfo {
  margin-bottom: 64px;
}

.billingInfoHeading h2 {
  font-family: "Bold";
}

.billingInfoHeading div p {
  color: #a9a9a9;
  font-size: 0.98em;
  margin-top: 4px;
}

.billingInfoHeading div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.billingInfoContainer {
  width: 90%;
  margin-top: 32px;
}

.billingInfoContainer div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.billingInfoContainer input,
option,
.billingInfoContainer select {
  width: 319px;
  height: 42px;
  background: #f9f9f9;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0px 12px;
  font-family: "Semi-Bold";
  margin-top: 6px;
}

.billingInfoContainer label {
  font-family: "Bold";
  font-size: 0.85em;
}

.billingInfoContainer select {
  padding: 0px 16px;
}

.billingInfoContainer div span {
  width: 253px;
  height: 42px;
  background: #f9f9f9;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0px 21px;
  font-family: "Semi-Bold";
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85em;
}

#checkbox {
  transform: translateY(-3px);
  width: 20px;
  height: 20px;
}

.billingMethod {
  margin-bottom: 64px;
}

.billingMethodContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 32px;
}

.billingMethodShipping {
  width: 670px;
  height: 48px;
  background: #f9f9f9;
  font-family: "Bold";
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 17px;
  margin-bottom: 16px;
}

.billingMethodShipping input {
  width: 20px;
  height: 20px;
  border: 1.5px;
}

.FedEx {
  display: flex;
  width: 13%;
  justify-content: space-between;
}
/* 
.FedEx p {
  margin-left: 10px;
} */

.shippingPrice {
  display: flex;
  font-size: 0.9em;
  width: 30%;
  justify-content: space-between;
}

.shippingPrice span {
  color: #6a983c;
}

.shippingImg {
  width: 15%;
}

.shippingImg img {
  width: 100%;
}

.paymentCard {
  margin-top: 32px;
  width: 670px;
  height: 240px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.paymentFirst {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.paymentFirstLeft div {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #6a983c;
  border-radius: 50%;
}

.paymentFirstLeft {
  display: flex;
  justify-content: space-between;
}

.paymentFirstLeft p {
  margin-left: 10px;
  font-family: "Bold";
  font-size: 0.9em;
  margin-top: 2px;
}

.paymentSecond {
  width: 100%;
}

.paymentSecond input {
  width: 100%;
  height: 42px;
  background: #f9f9f9;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
  padding: 0px 21px;
}

.paymentSecond label {
  font-family: "Bold";
  font-size: 0.87em;
}

.paymentThird {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.paymentThird label {
  font-family: "Bold";
  font-size: 0.87em;
}

.paymentThird input {
  padding: 0px 21px;
  height: 42px;
  background: #f9f9f9;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 6px;
}

.cardHolder input {
  width: 350px;
}

.cvc input,
.expDate input {
  width: 120px;
}

.checkoutFooter {
  margin-top: 64px;
}

.checkoutFooter {
  width: 100%;
}

.addInformation {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 64px;
}

.addInformation label {
  font-family: "Bold";
  font-size: 0.87em;
}

.addInformation textarea {
  resize: none;
  padding: 10px;
  width: 79%;
  min-height: 112px;
  background: #f9f9f9;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
}

.iAgree {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 580px;
  height: 42px;
  background: #f9f9f9;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: "Semi-Bold";
  font-size: 0.83em;
}

.iAgree input {
  width: 20px;
  height: 20px;
}

.confirm {
  margin-top: 32px;
}

#iAgree {
  margin-top: 16px;
  width: 437px;
}

#btn-complete {
  margin-top: 32px !important;
  background: #6a983c;
  color: white;
  font-family: "Bold";
  border: 2px solid #46760a;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 16px 48px;
  cursor: pointer;
}

.security {
  margin-top: 40px;
}

.security h5 {
  font-family: "Bold";
  padding: 6px 0px;
}

.security p {
  color: #a9a9a9;
}

#copy {
  color: black !important;
  margin: 40px 0;
  font-family: "Bold";
}

.cartProduct {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.cartProudctRight {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cartProudctRight h5 {
  font-family: "Bold";
  font-size: 1.01em;
}

.cartProudctRight p {
  color: #6a983c;
  font-family: "Bold";
}

.cartProductEnd {
  display: flex;
  justify-content: center;
}

.cartProductEnd button {
  border: none;
  outline: none;
  color: white;
  background-color: #6a983c;
  width: 50px;
  height: 20px;
  margin-top: 50px;
  margin-left: 10px;
  font-size: 1.05em;
}

.cartProductImage {
  width: 140px;
  height: 67px;
}

.cartProductImage img {
  width: 100%;
}

#remove-btn {
  margin-left: 30px;
  margin-top: 50px;
  cursor: pointer;
}

.empty {
  text-align: center;
  font-family: "Bold";
  transform: translateX(-170px);
}

.cartTotal {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 6%;
}

.cartTotal span {
  color: #6a983c;
  font-family: "Bold";
}

.removeAll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.removeAll button {
  border: none;
  outline: none;
  color: white;
  background-color: red;
  padding: 0px 30px;
  height: 40px;
  border-radius: 6px;
  font-family: "Bold";
}

@media screen and (min-width: 320px) and (max-width: 370px) {
  ul.breadcrumb {
    padding: 10px 12px;
    list-style: none;
    background: #fdfdfd;
  }

  .checkout {
    transform: translateY(-40px);
  }

  .checkoutMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 12px;
  }

  .checkoutLeft {
    width: 100%;
  }

  .billingInfoHeading div {
    display: block;
  }

  .billingInfoContainer {
    width: 100%;
  }

  .billingInfoContainer div {
    width: 100%;
    flex-direction: column;
    margin-bottom: 4px;
  }

  .billingInfoContainer div label {
    margin-bottom: 14px;
  }

  .billingInfoContainer input,
  .billingInfoContainer select,
  .billingInfoContainer div span {
    width: 100%;
    border-radius: 4px;
    padding: 0px 10px;
  }

  .billingInfoContainer div span {
    justify-content: left;
  }

  .billingInfoContainer div span p {
    margin-left: 8px;
  }

  .billingMethodShipping {
    width: 100%;
    padding: 0px 8px;
  }

  .shippingImg {
    display: none;
  }

  .FedEx {
    width: 25%;
  }

  .shippingPrice {
    width: unset;
  }

  .shippingPrice p {
    margin-left: 20px;
  }

  .paymentCard {
    width: 100%;
    border-radius: 6px;
    height: auto;
    padding: 10px;
  }

  .paymentFirst,
  .paymentSecond,
  .paymentThird,
  .paymentThird div {
    margin: 10px 0px;
  }

  .paymentThird {
    flex-direction: column;
  }

  .cardHolder input {
    width: 100%;
    border-radius: 4px;
  }

  .cvc input,
  .expDate input {
    width: 100%;
  }

  .paymentCard input {
    border-radius: 4px;
  }

  .addInformation textarea {
    width: 100% !important;
  }

  .iAgree {
    width: 100%;
    min-height: auto;
    padding: 8px;
  }

  #iAgree {
    width: 100%;
    min-height: auto;
    padding: 8px;
  }
  .iAgree p {
    margin-left: 8px;
  }

  .iAgree input {
    width: auto !important;
    height: auto !important;
  }

  #btn-complete {
    margin-top: 32px !important;
    border: 2px solid #46760a;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px 40px;
    cursor: pointer;
  }

  .checkoutRight {
    display: none;
  }
}

@media screen and (min-width: 370px) and (max-width: 414px) {
  ul.breadcrumb {
    padding: 10px 12px;
    list-style: none;
    background: #fdfdfd;
  }

  .checkout {
    transform: translateY(-40px);
  }

  .checkoutMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 12px;
  }

  .checkoutLeft {
    width: 100%;
  }

  .billingInfoHeading div {
    display: block;
  }

  .billingInfoContainer {
    width: 100%;
  }

  .billingInfoContainer div {
    width: 100%;
    flex-direction: column;
    margin-bottom: 4px;
  }

  .billingInfoContainer div label {
    margin-bottom: 14px;
  }

  .billingInfoContainer input,
  .billingInfoContainer select,
  .billingInfoContainer div span {
    width: 100%;
    border-radius: 4px;
    padding: 0px 10px;
  }

  .billingInfoContainer div span {
    justify-content: left;
  }

  .billingInfoContainer div span p {
    margin-left: 8px;
  }

  .billingMethodShipping {
    width: 100%;
    padding: 0px 8px;
  }

  .shippingImg {
    display: none;
  }

  .FedEx {
    width: 25%;
  }

  .shippingPrice {
    width: unset;
  }

  .shippingPrice p {
    margin-left: 20px;
  }

  .paymentCard {
    width: 100%;
    border-radius: 6px;
    height: auto;
    padding: 10px;
  }

  .paymentFirst,
  .paymentSecond,
  .paymentThird,
  .paymentThird div {
    margin: 10px 0px;
  }

  .paymentThird {
    flex-direction: column;
  }

  .cardHolder input {
    width: 100%;
    border-radius: 4px;
  }

  .cvc input,
  .expDate input {
    width: 100%;
  }

  .paymentCard input {
    border-radius: 4px;
  }

  .addInformation textarea {
    width: 100% !important;
  }

  .iAgree {
    width: 100%;
    min-height: auto;
    padding: 8px;
  }

  #iAgree {
    width: 100%;
    min-height: auto;
    padding: 8px;
  }
  .iAgree p {
    margin-left: 8px;
  }

  .iAgree input {
    width: auto !important;
    height: auto !important;
  }

  #btn-complete {
    margin-top: 32px !important;
    border: 2px solid #46760a;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px 40px;
    cursor: pointer;
  }

  .checkoutRight {
    display: none;
  }
}

@media screen and (min-width: 414px) and (max-width: 767px) {
  ul.breadcrumb {
    padding: 10px 12px;
    list-style: none;
    background: #fdfdfd;
  }

  .checkout {
    transform: translateY(-40px);
  }

  .checkoutMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 12px;
  }

  .checkoutLeft {
    width: 100%;
  }

  .billingInfoHeading div {
    display: block;
  }

  .billingInfoContainer {
    width: 100%;
  }

  .billingInfoContainer div {
    width: 100%;
    flex-direction: column;
    margin-bottom: 4px;
  }

  .billingInfoContainer div label {
    margin-bottom: 14px;
  }

  .billingInfoContainer input,
  .billingInfoContainer select,
  .billingInfoContainer div span {
    width: 100%;
    border-radius: 4px;
    padding: 0px 10px;
  }

  .billingInfoContainer div span {
    justify-content: left;
  }

  .billingInfoContainer div span p {
    margin-left: 8px;
  }

  .billingMethodShipping {
    width: 100%;
    padding: 0px 8px;
  }

  .shippingImg {
    display: none;
  }

  .FedEx {
    width: 25%;
  }

  .shippingPrice {
    width: unset;
  }

  .shippingPrice p {
    margin-left: 20px;
  }

  .paymentCard {
    width: 100%;
    border-radius: 6px;
    height: auto;
    padding: 10px;
  }

  .paymentFirst,
  .paymentSecond,
  .paymentThird,
  .paymentThird div {
    margin: 10px 0px;
  }

  .paymentThird {
    flex-direction: column;
  }

  .cardHolder input {
    width: 100%;
    border-radius: 4px;
  }

  .cvc input,
  .expDate input {
    width: 100%;
  }

  .paymentCard input {
    border-radius: 4px;
  }

  .addInformation textarea {
    width: 100% !important;
  }

  .iAgree {
    width: 100%;
    min-height: auto;
    padding: 8px;
  }

  #iAgree {
    width: 100%;
    min-height: auto;
    padding: 8px;
  }
  .iAgree p {
    margin-left: 8px;
  }

  .iAgree input {
    width: auto !important;
    height: auto !important;
  }

  #btn-complete {
    margin-top: 32px !important;
    border: 2px solid #46760a;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px 40px;
    cursor: pointer;
  }

  .checkoutRight {
    display: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  ul.breadcrumb {
    padding: 10px 12px;
    list-style: none;
    background: #fdfdfd;
  }

  .checkout {
    transform: translateY(-40px);
  }

  .checkoutMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 12px;
  }

  .checkoutLeft {
    width: 100%;
  }

  .billingInfoHeading div {
    display: block;
  }

  .billingInfoContainer {
    width: 100%;
  }

  .billingInfoContainer div {
    width: 100%;
    flex-direction: column;
    margin-bottom: 4px;
  }

  .billingInfoContainer div label {
    margin-bottom: 14px;
  }

  .billingInfoContainer input,
  .billingInfoContainer select,
  .billingInfoContainer div span {
    width: 100%;
    border-radius: 4px;
    padding: 0px 10px;
  }

  .billingInfoContainer div span {
    justify-content: left;
  }

  .billingInfoContainer div span p {
    margin-left: 8px;
  }

  .billingMethodShipping {
    width: 100%;
    padding: 0px 8px;
  }

  .shippingImg {
    display: none;
  }

  .FedEx {
    width: 25%;
  }

  .shippingPrice {
    width: unset;
  }

  .shippingPrice p {
    margin-left: 20px;
  }

  .paymentCard {
    width: 100%;
    border-radius: 6px;
    height: auto;
    padding: 10px;
  }

  .paymentFirst,
  .paymentSecond,
  .paymentThird,
  .paymentThird div {
    margin: 10px 0px;
  }

  .paymentThird {
    flex-direction: column;
  }

  .cardHolder input {
    width: 100%;
    border-radius: 4px;
  }

  .cvc input,
  .expDate input {
    width: 100%;
  }

  .paymentCard input {
    border-radius: 4px;
  }

  .addInformation textarea {
    width: 100% !important;
  }

  .iAgree {
    width: 100%;
    min-height: auto;
    padding: 8px;
  }

  #iAgree {
    width: 100%;
    min-height: auto;
    padding: 8px;
  }
  .iAgree p {
    margin-left: 8px;
  }

  .iAgree input {
    width: auto !important;
    height: auto !important;
  }

  #btn-complete {
    margin-top: 32px !important;
    border: 2px solid #46760a;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px 40px;
    cursor: pointer;
  }

  .checkoutRight {
    display: none;
  }
}
