@font-face {
  font-family: "Light";
  src: url(../../assets/fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "Regular";
  src: url(../../assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Medium";
  src: url(../../assets/fonts/OpenSans-Medium.ttf);
}
@font-face {
  font-family: "Semi-Bold";
  src: url(../../assets/fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "Bold";
  src: url(../../assets/fonts/OpenSans-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: #eeffff;
}

hr {
  text-align: center;
  margin: 0px 50px;
  opacity: 1;
}
hr{
  display: block;
    unicode-bidi: isolate;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 0px;
    height: 1px;
    color:#1a237e;
    background-color: #1a237e;
    margin: 0px 50px;

  }
.main {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  padding: 0px 50px;
  margin-top: 64px;
  display: flex;
  margin-bottom: 8%;
}

.mainLeft {
  width: 21%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainLeftCategory {
  width: 100%;
  height: 25%;
}

.mainLeftCategory h4,
.mainLeftBSell h4,
.mainLeftBest h4 {
  font-family: "Bold";
  font-weight: 650;
  line-height: 27px;
  font-size: 1.11em;
  padding-bottom: 10px;
}
h4{
  color: white;
}
.mainLeftCategory ul li,
.mainLeftBSell ul li,
.mainLeftBest ul li {
  color: #6a983c;
  margin-top: 10px;
}

.mainLeftCategory ul li a,
.mainLeftBSell ul li a,
.mainLeftBest ul li a {
  color:rgb(170, 168, 168);
  margin-top: 10px;
  text-decoration: none;
  font-family: "Regular";
}

.mainLeftCategory button,
.mainLeftBSell button,
.mainLeftBest button {
  margin-top: 40px;
  background-color: transparent;
  border: 1px solid white;
  /* border:1px solid #111212; */
  color: white;
  /* background: #f5f5f5; */
  border-radius: 6px;
  height: 48px;
  width: 178px;
  outline: none;
  /* border: none; */
  font-family: "Bold";
  font-size: 1.02em;
  cursor: pointer;
  transition: 1s ease;

}
.mainLeftCategory:hover button,
.mainLeftBSell:hover button,
.mainLeftBest:hover button 
{
  border: 2px solid #1a237e;
  /* box-shadow: 0px 9px 26px -3px rgba(126, 126, 126, 0.2); */
transition: 1s ease;
}

.mainLeftBSell {
  width: 100%;
  height: 33%;
}

.mainLeftBest {
  width: 100%;
  height: 33%;
  padding-top: 4%;
}

.mainRight {
  width: 79%;
  height: 100%;
}

.mainRightTop {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* height: 50%; @media */
}

.mainRightFirst,
.mainRightSecond {
  text-align: left;
  border-radius: 6px;
  min-height: 280px;
  width: 472px;
  background-image: url(../../assets/img/Group.png);
  background-position: center;
  padding: 50px;
  z-index: -5;
  transition: 1s ease;
}


.mainRightFirst p,
.mainRightSecond p {
  color:white;
  font-family: "Semi-Bold";
}

.mainRightFirst h2,
.mainRightSecond h2 {
  margin-top: 10px;
  font-family: "Bold";
}

.mainRightFirst button,
.mainRightSecond button {
  margin-top: 90px;
  background-color: transparent;
  font-family: "Bold";
  outline: none;
  cursor: pointer;
  font-size: 1.05rem;
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;


}
.mainRightSecond  h2 , .mainRightFirst h2{
  color: #eeffff !important;
}
.mainRight i {
  transform: translate(3px, 1.2px) !important;
  color:white
}

.mainRightTop {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.mainRightCards {
  width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.mainRightCard1 {
  width: 269px;
  height: fit-content !important;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 16px;
  margin: 3%;
  transition: 1s ease;
}

.mainRightCard1 img {
  width: 100%;
  border-radius: 6px;
}

.cardContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mainRightCard1 h3 {
  font-family: "Bold";
  color: white;
  opacity: 0.8;
  font-size: 16px;
  padding-top: 10px;
}

.mainRightCard1 p {
  font-family: "Medium";
  font-size: 13px;
  color: #9ea7aa;
  padding: 4px 0px;
}

.cardContainer {
  margin-top: 8px;
}

.cardContainer h3 {
  font-weight: bolder;
}

.cardContainer button {
  width: 94px;
  height: 34px;
  outline: none;
  cursor: pointer;
  color: white;
  border-radius: 6px;
  font-family: "Bold";
  background: transparent;
  border: 1px solid  gray;
  transform: translateY(4px);
}

.mainRightMiddleCards {
  margin-top: 9%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media screen and (min-width: 320px) and (max-width: 370px) {
  .mainLeft {
    display: none;
  }

  .main {
    align-items: center;
    justify-content: center;
    margin-top: -30px;
  }

  .mainRightTop {
    margin-top: 0px;
  }

  .mainRight {
    width: 100vw;
    padding: 0px 10px;
    margin-top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .mainRightFirst {
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .mainRightSecond {
    margin-top: 8%;
    text-align: center;
  }

  .mainRightFirst button,
  .mainRightSecond button {
    margin-top: 36px;
    padding: 8px 14px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 370px) and (max-width: 414px) {
  .mainLeft {
    display: none;
  }

  .main {
    align-items: center;
    justify-content: center;
    margin-top: -30px;
  }

  .mainRightTop {
    margin-top: 0px;
  }

  .mainRight {
    width: 100vw;
    padding: 0px 10px;
    margin-top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .mainRightFirst {
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .mainRightSecond {
    margin-top: 8%;
    text-align: center;
  }

  .mainRightFirst button,
  .mainRightSecond button {
    margin-top: 36px;
    padding: 8px 14px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 414px) and (max-width: 767px) {
  .mainLeft {
    display: none;
  }

  .main {
    align-items: center;
    justify-content: center;
    margin-top: -30px;
  }

  .mainRightTop {
    margin-top: 0px;
  }

  .mainRight {
    width: 100vw;
    padding: 0px 10px;
    margin-top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .mainRightFirst {
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .mainRightSecond {
    margin-top: 8%;
    text-align: center;
  }

  .mainRightFirst button,
  .mainRightSecond button {
    margin-top: 36px;
    padding: 8px 14px;
    font-size: 1rem;
  }
}
