@font-face {
  font-family: "Light";
  src: url(../../assets/fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "Regular";
  src: url(../../assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Medium";
  src: url(../../assets/fonts/OpenSans-Medium.ttf);
}
@font-face {
  font-family: "Semi-Bold";
  src: url(../../assets/fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "Bold";
  src: url(../../assets/fonts/OpenSans-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

hr {
  text-align: center;
  margin: 0px 50px;
  opacity: 0.3;
}

.topHeader {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

.topHeaderLeft ul,
.topHeaderRight ul {
  display: flex;
}

.topHeaderLeft ul li {
  font-size: 13px;
  font-family: "Medium";
  margin-right: 33px;
}

.topHeaderLeft ul li:nth-child(1) a {
  color: green;
}

.topHeaderRight ul li {
  font-size: 13px;
  font-family: "Medium";
  margin-left: 38px;
}

.topHeaderRight ul li a {
  color: green;
}

.mainHeader {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

.mainHeaderLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainHeaderMiddleContainer {
  width: 500px;
  height: 42px;
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
}

.mainHeaderRight {
  display: flex;
}

.mainHeaderUser {
  margin-right: 40px;
  cursor: pointer;
}

.mainHeaderBasket {
  position: relative;
  cursor: pointer;
}

.mainHeaderBasketCount {
  position: absolute;
  top: 60%;
  left: -10%;
  width: 16px;
  height: 16px;
  background-color: #e5704b;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mainHeaderBasket span {
  color: white;
}

.shopping-cart {
  display: none;
  text-align: center;
  position: absolute;
  width: 400px;
  height: 250px;
  top: 18%;
  right: 0;
  background-color: whitesmoke;
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  transition: 0.2s ease-in;
}

.active {
  display: flex;
  z-index: 999;
}

.shopping-cart h2 {
  text-align: center;
  font-family: "Bold";
  font-size: 17px;
  margin-bottom: 5%;
  color: #e5704b;
}

#ordernowbtn {
  width: 30%;
  padding: 5px 0px;
  border: 2px solid #46760a;
  background: #6a983c;
  color: white;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: "Bold";
  cursor: pointer;
}

.cart-product-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Bold";
}

.open-cart-title {
  width: 30%;
  margin: 3px 0;
  padding-top: 6px;
}

.open-cart-price {
  width: 20%;
  color: #6a983c;
  margin: 3px 0;
  padding-top: 6px;
}

.btn-trash {
  width: 5%;
}

.btn-trash i {
  color: red;
  margin: 3px 0;
  padding-top: 10px;
  cursor: pointer;
}

.open-cart-image-div {
  width: 25%;
  height: 50px;
}

.open-cart-image-div img {
  width: 50%;
}

.mainHeaderMiddleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
}

.mainHeaderMiddleSelect {
  width: 40%;
  position: relative;
}

.mainHeaderMiddleInput {
  width: 60%;
}

.mainHeaderMiddleInput input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.mainHeaderMiddleSelect select {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Bold";
  font-weight: bold;
  font-size: 16px;
}

.mainHeaderMiddleSelect::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 20%;
  background-color: #d1d1d1;
  border: 1px solid #d1d1d1;
  height: 25px;
  opacity: 0.4;
}

nav {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 55px;
  background: #f9f9f9;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Bold";
  font-size: 14px;
}

.inputResponsive {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0%;
  background-color: #f9f9f9;
  box-shadow: 0px 5px 6px 2px rgb(192, 192, 192);
  min-width: 160px;
  padding: 0px 16px;
  z-index: 1;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-ul {
  display: block !important;
}

.dropdown-ul li {
  margin: 20px 0px;
  font-size: 1.1em;
}

.end {
  display: none;
  position: absolute;
  transform: translateX(-45px);
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 20px 16px;
  z-index: 1;
}

.center {
  display: none;
  width: 30px;
}

.before,
.after,
.origin {
  background: black;
  content: "";
  display: block;
  height: 4px;
  border-radius: 3px;
  margin: 4px 0;
  transition: 0.5s;
}

.hrReact {
  width: 100% !important;
  margin: 0px !important;
  margin-top: 15px !important;
}

#hamburger {
  display: none;
  z-index: 1000 !important;
}

.searchDrop {
  width: 500px;
  min-height: auto;
  position: absolute;
  top: 17.6%;
  z-index: 340;
  background-color: #f9f9f9;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  animation-name: appear;
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

.itemSearch {
  width: 500px;
  min-height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 240;

  animation-name: appear;
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

.itemSearch h3 {
  color: white;
  font-weight: bold;
  color: black;
}

.itemSearchTitle{
  color: black;
  font-weight: 700;
}

.itemSearch button {
  height: 32px;
  background-color: white;
  font-family: "Bold";
  outline: none;
  cursor: pointer;
  border: 3px solid #6a983c;
  border-radius: 6px;
  padding: 0px 14px;
}

.itemSearch img {
  padding: 10px 0px;
  width: 50px;
}

@media screen and (min-width: 320px) and (max-width: 370px) {
  .headerReact {
    transform: translateY(-25px);
  }

  header {
    width: 100%;
    transform: translateY(-26px);
    position: relative;
    z-index: 99;
  }

  .topHeader {
    display: none;
  }

  #hamburger {
    position: absolute !important;
    top: 72% !important;
    left: -100% !important;
    width: 100vw !important;
    height: 91.75vh !important;
    background-color: rgba(0, 0, 0, 0.856) !important;
    z-index: 1000 !important;

    color: white;
    font-family: "Semi-Bold";
    padding: 30px 20px;
  }

  #hamburger ul li {
    margin-bottom: 8px;
  }

  #hamburger ul li a {
    color: white;
    font-family: "Bold";
    font-size: 1.13em;
  }

  .mainHeader {
    width: 100%;
    height: 110px;
    display: flex;
    padding: 10px 10px;
    position: relative;
    z-index: 99;
  }

  .mainHeaderRight {
    transform: translateY(2px);
  }

  .mainHeaderUser {
    margin-right: 14px;
  }

  .center {
    display: block;
    margin-right: 10px;
    z-index: 4;
  }

  nav {
    display: none;
  }

  .mainHeaderBasketCount {
    font-size: 0.9em;
  }

  .mainHeaderMiddleContainer {
    display: none;
  }

  .inputResponsive {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-12px);
    position: relative;
  }

  .inputResponsive input {
    width: 90%;
    height: 30px;
    background-color: #f9f9f9;
    border: 1px solid #d1d1d1;
    outline: none;
    border-radius: 6px;
    text-align: center;
    font-family: "Semi-Bold";
    position: relative;
    padding: 0px 30px;
  }

  .inputResponsive i {
    position: absolute;
    right: 7%;
    color: #c2c2c2;
  }

  .shopping-cart {
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 250px;
    top: 50px !important;
    right: 0;
    background-color: whitesmoke;
    z-index: 100;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 0px;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    transform: translateX(3%);
  }
}

@media screen and (min-width: 370px) and (max-width: 414px) {
  .headerReact {
    transform: translateY(-25px);
  }

  header {
    width: 100%;
    transform: translateY(-26px);
    position: relative;
    z-index: 99;
  }

  .topHeader {
    display: none;
  }

  #hamburger {
    position: absolute !important;
    top: 72% !important;
    left: -100% !important;
    width: 100vw !important;
    height: 91.75vh !important;
    background-color: rgba(0, 0, 0, 0.856) !important;
    z-index: 1000 !important;

    color: white;
    font-family: "Semi-Bold";
    padding: 30px 20px;
  }

  #hamburger ul li {
    margin-bottom: 8px;
  }

  #hamburger ul li a {
    color: white;
    font-family: "Bold";
    font-size: 1.13em;
  }

  .mainHeader {
    width: 100%;
    height: 110px;
    display: flex;
    padding: 10px 10px;
    position: relative;
    z-index: 99;
  }

  .mainHeaderRight {
    transform: translateY(2px);
  }

  .mainHeaderUser {
    margin-right: 14px;
  }

  .center {
    display: block;
    margin-right: 10px;
    z-index: 4;
  }

  nav {
    display: none;
  }

  .mainHeaderBasketCount {
    font-size: 0.9em;
  }

  .mainHeaderMiddleContainer {
    display: none;
  }

  .inputResponsive {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-12px);
    position: relative;
  }

  .inputResponsive input {
    width: 90%;
    height: 30px;
    background-color: #f9f9f9;
    border: 1px solid #d1d1d1;
    outline: none;
    border-radius: 6px;
    text-align: center;
    font-family: "Semi-Bold";
    position: relative;
    padding: 0px 30px;
  }

  .inputResponsive i {
    position: absolute;
    right: 7%;
    color: #c2c2c2;
  }

  .shopping-cart {
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 250px;
    top: 50px !important;
    right: 0;
    background-color: whitesmoke;
    z-index: 100;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 0px;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    transform: translateX(3%);
  }
}

@media screen and (min-width: 414px) and (max-width: 767px) {
  .headerReact {
    transform: translateY(-25px);
  }

  header {
    width: 100%;
    transform: translateY(-26px);
    position: relative;
    z-index: 99;
  }

  .topHeader {
    display: none;
  }

  #hamburger {
    position: absolute !important;
    top: 72% !important;
    left: -100% !important;
    width: 100vw !important;
    height: 91.75vh !important;
    background-color: rgba(0, 0, 0, 0.856) !important;
    z-index: 1000 !important;

    color: white;
    font-family: "Semi-Bold";
    padding: 30px 20px;
  }

  #hamburger ul li {
    margin-bottom: 8px;
  }

  #hamburger ul li a {
    color: white;
    font-family: "Bold";
    font-size: 1.13em;
  }

  .mainHeader {
    width: 100%;
    height: 110px;
    display: flex;
    padding: 10px 10px;
    position: relative;
    z-index: 99;
  }

  .mainHeaderRight {
    transform: translateY(2px);
  }

  .mainHeaderUser {
    margin-right: 14px;
  }

  .center {
    display: block;
    margin-right: 10px;
    z-index: 4;
  }

  nav {
    display: none;
  }

  .mainHeaderBasketCount {
    font-size: 0.9em;
  }

  .mainHeaderMiddleContainer {
    display: none;
  }

  .inputResponsive {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-12px);
    position: relative;
  }

  .inputResponsive input {
    width: 90%;
    height: 30px;
    background-color: #f9f9f9;
    border: 1px solid #d1d1d1;
    outline: none;
    border-radius: 6px;
    text-align: center;
    font-family: "Semi-Bold";
    position: relative;
    padding: 0px 30px;
  }

  .inputResponsive i {
    position: absolute;
    right: 7%;
    color: #c2c2c2;
  }

  .shopping-cart {
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 250px;
    top: 50px !important;
    right: 0;
    background-color: whitesmoke;
    z-index: 100;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 0px;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    transform: translateX(3%);
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .headerReact {
    transform: translateY(-25px);
  }

  header {
    width: 100%;
    transform: translateY(-26px);
    position: relative;
    z-index: 99;
  }

  .topHeader {
    display: none;
  }

  #hamburger {
    position: absolute !important;
    top: 72% !important;
    left: -100% !important;
    width: 100vw !important;
    height: 91.75vh !important;
    background-color: rgba(0, 0, 0, 0.856) !important;
    z-index: 1000 !important;

    color: white;
    font-family: "Semi-Bold";
    padding: 30px 20px;
  }

  #hamburger ul li {
    margin-bottom: 8px;
  }

  #hamburger ul li a {
    color: white;
    font-family: "Bold";
    font-size: 1.13em;
  }

  .mainHeader {
    width: 100%;
    height: 110px;
    display: flex;
    padding: 10px 10px;
    position: relative;
    z-index: 99;
  }

  .mainHeaderRight {
    transform: translateY(2px);
  }

  .mainHeaderUser {
    margin-right: 14px;
  }

  .center {
    display: block;
    margin-right: 10px;
    z-index: 4;
  }

  nav {
    display: none;
  }

  .mainHeaderBasketCount {
    font-size: 0.9em;
  }

  .mainHeaderMiddleContainer {
    display: none;
  }

  .inputResponsive {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-12px);
    position: relative;
  }

  .inputResponsive input {
    width: 90%;
    height: 30px;
    background-color: #f9f9f9;
    border: 1px solid #d1d1d1;
    outline: none;
    border-radius: 6px;
    text-align: center;
    font-family: "Semi-Bold";
    position: relative;
    padding: 0px 30px;
  }

  .inputResponsive i {
    position: absolute;
    right: 7%;
    color: #c2c2c2;
  }

  .shopping-cart {
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 250px;
    top: 50px !important;
    right: 0;
    background-color: whitesmoke;
    z-index: 100;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 0px;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    transform: translateX(3%);
  }
}
