button{
    border: none !important;
}

#root{
    max-width: 1920px;
    margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}

.sliderContainer {
  padding: 0 40px;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .sliderContainer {
    padding: 0 0;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 30px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mainLeft {
    display: none !important;
  }

  .mainRight {
    width: 100% !important;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 25px !important;
  }

  .main {
    justify-content: center;
    margin-top: inherit !important;
    padding: 0px !important;
  }

  .mainRightTop {
    flex-wrap: nowrap;
  }

  .mainRightFirst,
  .mainRightSecond {
    width: 350px !important;
  }

  .mainRightCards {
    margin-top: 40px !important;
  }

  .firstReview {
    width: 250px !important;
  }

  .readOurBlog1,
  .readOurBlog2,
  .readOurBlog3 {
    width: 222px !important;
  }

  .blogDetails {
    padding-top: 40px !important;
  }

  .blogDetails2 {
    padding-left: 5px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .main {
    margin-top: 64px !important;
    padding: 30px !important;
  }

  .mainLeft {
    justify-content: inherit !important;
    padding-top: 5px;
  }

  .mainLeftCategory,
  .mainLeftBest {
    height: inherit !important;
    padding-top: inherit !important;
  }

  .mainRightTop {
    flex-wrap: nowrap;
  }

  .mainRightFirst,
  .mainRightSecond {
    width: 350px !important;
  }

  .mainRightCards {
    margin-top: 125px !important;
  }

  .mainLeftBSellll {
    margin: 150px 0;
  }

  .mainLeftBest {
    padding-top: inherit;
  }

  .firstReview {
    width: 300px !important;
  }

  .readOurBlog1,
  .readOurBlog2,
  .readOurBlog3 {
    width: 300px !important;
  }

  .blogDetails {
    padding-top: 40px !important;
  }

  .blogDetails2 {
    padding-left: 5px;
  }

  .headlineCards {
    flex-wrap: nowrap !important;
  }
}
